{{#extend "layouts/main"}}
    {{#content "body"}}
        <h1>Welcome to your Dashboard</h1>
        <h2>Your Posts</h2>
        {{#if posts.length}}
            <ul>
                {{#each posts}}
                    <li><a href="/post/{{id}}">{{title}}</a> - {{createdAt}}</li>
                {{/each}}
            </ul>
        {{else}}
            <p>No posts available.</p>
        {{/if}}
        <a href="/logout">Logout</a>
    {{/content}}
{{/extend}}
